<h2>회원명부</h2>

<table class=users>
<thead>
<tr>
<td>학번
<td>이름
<td>전화번호 · 이메일
<td>남김말
<tbody>

<% @users.each_with_index do |user, index| %>
<tr class="<%= 'a' if index.odd? %>">
<td><%= '%02d' % user.year %>
<td><%= h(user.name) %>
<td><%= h(formatphone(user.phone)) %><br>
    <a class=email href="mailto:<%= h(user.email) %>"><%= h(user.email) %></a>
<td><%= formattext(user.remark) %></td>
<% end %>

</table>
